body{
	background-size: 1287px 2184.220px;
}
h1.heading{
	text-align: center;
}
h2.subheading{
	border-style: hidden;
	background-color: white;
}
div.para{
	text-indent: 50px;
}
table,td,th{
 	border:2px grey;
	text-align:left;
}
table{
	border-collapse :collapse;
	width:100%;
}
th,td{
	padding:15px;
}
th{
	background-color:red;
}

p.disp{
	display: inline;
}
